{% extends 'base.html' %}

{% block title %}
Account List
{% endblock title%}
{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts_list %}
            <tr>
                <td>{{ account.name}}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
