{% extends 'base.html' %}

{% block title %}
Receipts List
{% endblock title %}

{% block content %}
<!--         a main tag that contains: -->
<main>
    <!-- an h1 tag with the content "My Receipts" -->
    <h1>My Receipts</h1>
    <!-- a table that has 6 columns: -->
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts_list %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date|date:"m/d/y" }}</td>
                <td>{{ receipt.account }}</td>
                <td>{{ receipt.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
